body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ecf0f5;
            background-image: url(images/con7.jpg);
          
            color: #000000; 
        }

        header {
            background-color: #423c89;
            color: #ffffff;
            padding: 15px 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }

        .logo {
            font-size: 1.5em;
            font-weight: bold;
        }

        .nav-links {
            list-style: none;
            display: flex;
        }

        .nav-links li {
            margin-right: 20px;
        }

        .nav-links a {
            text-decoration: none;
            color: #ffffff;
        }

        main {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            text-align: center;
        }
