
        header {
            background-color: #423c89;
            color: #ffffff;
            padding: 15px 0;
            margin: 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }              

        .logo {
            font-size: 1.5em;
            font-weight: bold;
        }

        .nav-links {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }

        .nav-links li {
            margin-right: 20px;
        }

        .nav-links a {
            text-decoration: none;
            color: #ffffff;
        }
        header {
            text-align: center;
            margin-bottom: 20px;
            
        }
        header img {
            max-width: 150px;
            height: auto;
        }
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-image: url("../images/con7.jpg");
            color: blue;
            padding: 10px;
            margin: 0;
        }
        .print-button {
            background-color: #3498db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        footer {
            text-align: center;
            padding: 20px 0;
            color: #fff;
            text-align: center;
           
        }